<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joey's calculator</title>
</head>
<body>
    <h1>Calculator</h1>
    <p>please note that there are not a lot of options yet</p>
    <form method="POST">
        <input type="number" name="nr1" step="any" placeholder="Number 1" required>
        <input type="number" name="nr2" step="any" placeholder="Number 2" required>
        <select name="choice" required>
            <option value="-">Subtract</option>
            <option value="+">Add</option>
            <option value="/">Divide</option>
            <option value="*">Multiply</option>
        </select>
        <button type="submit">Calculate</button>
    </form>
    {% if result is not none %}
        <h2>sexualtion result: {{ result }}</h2>
    {% endif %}
</body>
</html>
